<div class='row text-center'>
  
  <h2>About Us</h2>
  
  <div class="well"> 
    <p>Welcome to Dev Match, We are a community of developers, entrepreneurs, and investors who are interesting in meeting one another and sharing ideas</p>
  </div>
</div>